style.
  .aotp-docs img{
    width:300px;margin:5px;
    cursor:pointer;
  }

  .aotp-docs img.lrgImg{
    width:100%;
  }

.aotp-docs
  h1(style="font-family:Beleren;")
    sup(style="font-size:0.5em;") the
    |Documentation
  .text-muted(style="font-size:0.6em;")
    |With any luck, hopefully something here will make sense to you :)
  hr

  div(style="font-size:0.8em;")
    |This project is a well refined hobby, a learning experience, a lesson in teaching, and a display of the capabilities of HTML5.

    br
    h3 Primary Features
    ul
      li
        i.fa.fa-pencil
        |&nbsp;Edit or Create existing & custom character cards
      li
        i.fa.fa-pencil
        |&nbsp;Edit or Create existing & custom spell cards #[sup (coming soon)]
      li
        i.fa.fa-print
        |&nbsp;Render and print medium or high quality cards
      li
        i.fa.fa-download
        |&nbsp;Export archives of cards with & without images
      li
        i.fa.fa-upload
        |&nbsp;Import your saved archives of cards
      li
        i.fa.fa-eye
        |&nbsp;View cards in comparison views and then tap to pick apart the details of a single card
    br

  div(ng-click="isViewLove=!isViewLove" style="cursor:pointer;")
    h4
      a
        i.fa(ng-class="isViewLove?'fa-chevron-circle-down':'fa-chevron-circle-right'")
        |&nbsp;I Really #[i.fa.fa-heart(style="color:red;")] This Game
    p.text-muted(style="font-size:0.6em;margin-left:1em;") Tap here, to see why AOTP is my game of choice
  .fx-fade-down(ng-show="isViewLove")
    br
    h4 I Had to Take This Game to Another Level
    div(style="font-size:0.8em;")
      p Hello from Acker Apple.
      p I searched #[a(href="http://amazon.com" target="_blank") Amazon] for minature sized objects like ruins, gravestones, trees, and such. I bought a large pack of #[a(href="https://www.google.com/search?q=heroscape" target="_blank") Hero Scape] board hexagon tiles from #[a(href="http://ebay.com" target="_blank") EBay], which work perfectly with AOTP.
    h4 Photos of My Hosted Epic Games
    .text-center
      span(ng-repeat="item in docs.ackData.images track by item.src")
        img.animate-all(ng-src="{{item.src}}" ng-class="{lrgImg:docs.lrgImg==item}" ng-click="docs.lrgImg=docs.lrgImg==item?null:item" style="border:2px solid black;")
        div.fx-fade-up(ng-show="docs.lrgImg==item")
          p {{item.title}}
          p.text-muted(style="font-size:0.8em;") {{item.detail}}

  br

  h3 #[i.fa.fa-github-square] Packaged by Open Source
  p.text-muted(style="font-size:0.8em;") This project runs on a slue of hard-work that is available to everyone!

  ul(style="font-size:0.8em;")
    li #[a(href="https://www.npmjs.com/package/angular" target="_blank") angular]
    li #[a(href="https://www.npmjs.com/package/angular-file-saver" target="_blank") angular-file-saver]
    li #[a(href="https://github.com/AckerApple/ack-angular" target="_blank") ack-angular]
    li #[a(href="https://www.npmjs.com/package/jade" target="_blank") jade]
    li #[a(href="https://github.com/AlexandreArpin/mtg-font" target="_blank") mtg-font]
    li #[a(href="https://www.npmjs.com/package/font-awesome" target="_blank") font-awesome]
    li #[a(href="https://github.com/AckerApple/mtg-aotp-syms" target="_blank") mtg-aotp-syms]
    li #[a(href="https://www.npmjs.com/package/bootstrap" target="_blank") bootstrap]
    li #[a(href="https://www.npmjs.com/package/ng-file-upload" target="_blank") ng-file-upload]
    li #[a(href="https://www.npmjs.com/package/ng-sortable" target="_blank") ng-sortable]
    li #[a(href="https://www.npmjs.com/package/jszip" target="_blank") jszip]
    li #[a(href="https://www.npmjs.com/package/webpack" target="_blank") webpack]

  h3(style="font-family:Beleren;") Useful Links
  .text-center(style="font-size:0.8em;")
    a(href="https://github.com/AckerApple/mtg-aotp-card-manager" target="_blank")
      i.fa.fa-github
      |&nbsp;repository
    |&nbsp;&nbsp;&nbsp;
    a(href="https://github.com/AckerApple/mtg-aotp-card-manager/issues" target="_blank")
      i.fa.fa-bug
      |&nbsp;report issue
