h1(style="font-family:Beleren;")
  sup(style="font-size:0.5em;") the
  |Documentation
.text-muted(style="font-size:0.6em;")
  |Hopefully something here will make since to you
hr

img(src="assets/acker-apple/IMG0.jpg" style="max-width:200px;")
img(src="assets/acker-apple/IMG1.jpg" style="max-width:200px;")
img(src="assets/acker-apple/IMG2.jpg" style="max-width:200px;")
img(src="assets/acker-apple/IMG3.jpg" style="max-width:200px;")
img(src="assets/acker-apple/IMG4.jpg" style="max-width:200px;")

h3 #[i.fa.fa-github-square] Packaged by Open Source
p.text-muted(style="font-size:0.8em;") This project runs on a slue of hard-work that is available to everyone!

ul(style="font-size:0.8em;")
  li #[a(href="https://www.npmjs.com/package/angular" target="_blank") angular]
  li #[a(href="https://www.npmjs.com/package/angular-file-saver" target="_blank") angular-file-saver]
  li #[a(href="https://github.com/AckerApple/ack-angular" target="_blank") ack-angular]
  li #[a(href="https://www.npmjs.com/package/jade" target="_blank") jade]
  li #[a(href="https://github.com/AlexandreArpin/mtg-font" target="_blank") mtg-font]
  li #[a(href="https://www.npmjs.com/package/font-awesome" target="_blank") font-awesome]
  li #[a(href="https://github.com/AckerApple/mtg-aotp-syms" target="_blank") mtg-aotp-syms]
  li #[a(href="https://www.npmjs.com/package/bootstrap" target="_blank") bootstrap]
  li #[a(href="https://www.npmjs.com/package/ng-file-upload" target="_blank") ng-file-upload]
  li #[a(href="https://www.npmjs.com/package/ng-sortable" target="_blank") ng-sortable]
  li #[a(href="https://www.npmjs.com/package/jszip" target="_blank") jszip]
  li #[a(href="https://www.npmjs.com/package/webpack" target="_blank") webpack]

h3(style="font-family:Beleren;") Useful Links
.text-center(style="font-size:0.8em;")
  a(href="https://github.com/AckerApple/mtg-aotp-card-manager" target="_blank")
    i.fa.fa-github
    |&nbsp;repository
  |&nbsp;&nbsp;&nbsp;
  a(href="https://github.com/AckerApple/mtg-aotp-card-manager/issues" target="_blank")
    i.fa.fa-bug
    |&nbsp;report issue
