<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script src="assets/scripts/angular.min.js"></script>

    <script src="assets/scripts/ng-file-upload-all.min.js"></script>

    <script src="assets/scripts/ng-sortable/ng-sortable.min.js"></script>
    <link href="assets/scripts/ng-sortable/ng-sortable.min.css" type="text/css" rel="stylesheet" />
    <script src="assets/scripts/html2canvas.min.js"></script>
    <script src="assets/scripts/mtgAotpCards.js"></script>
    <script src="assets/scripts/mtgAotpCardCreator.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="assets/styles/main.css" />
    <link type="text/css" rel="stylesheet" href="assets/styles/mtg-font/css/magic-font.css" />
    <link type="text/css" rel="stylesheet" href="assets/styles/mtg-aotp-syms/css/mtg-aotp-syms.css" />
  </head>
  <body ng-app="mtgAotpCardCreator">
    <mtg-aotp-card-creator></mtg-aotp-card-creator>
    <div style="width:223px;height:626px;overflow:auto;display:inline-block;">
      <img src="assets/images/MTG-Arena-of-the-Planeswalkers-game-Planeswalkers-cards.jpg" border="0" style="vertical-align:top;height:626px" />
    </div>
  </body>
</html>
<script type="text/ng-template" id="mtg-aotp-card-creator">
  <div>
    <a class="btn btn-default" ng-href="{{cardCreator.selectedSeries|jsonExportUrl}}" target="blank">export series</a>&nbsp;`
    <a class="btn btn-default" ng-href="{{cardCreator.selectedCard|jsonExportUrl}}" target="blank">export card</a>&nbsp;
    <a class="btn btn-default" download="{{cardCreator.selectedSeries.name}}.json" ng-href="{{cardCreator.selectedSeries|jsonExportUrl}}" target="blank">download series</a>&nbsp;
    <a class="btn btn-default" download="{{cardCreator.selectedCard.name}}.json" ng-href="{{cardCreator.selectedCard|jsonExportUrl}}" target="blank">download card</a>&nbsp;
    <a class="btn btn-default" ng-click="cardCreator.deleteCard()" target="blank">delete card</a>&nbsp;
    <hr />
    <a class="btn btn-default" ng-click="cardCreator.triggerEzPrint=false;cardCreator.triggerEzPrint=true">render easy-print</a>
    <a class="btn btn-default" ng-show="cardCreator.ezPrintResult" href="{{cardCreator.ezPrintResult.url}}" target="_blank">open easy-print</a>
    <a class="btn btn-default" ng-click="cardCreator.triggerHiResPrint=false;cardCreator.triggerHiResPrint=true">render hi-res</a>
    <a class="btn btn-default" ng-show="cardCreator.hiResPrintResult" href="{{cardCreator.hiResPrintResult.url}}" target="_blank">open hi-res</a>
    <hr />
    <a class="btn btn-default" ng-click="cardCreator.selectDemoCard()">new card</a>
    <!--<img src="{{cardCreator.hiResPrintResult.url}}" style="border:1px solid red;" />-->
  </div>
  <div>
  </div>
  <div>
    <h3>
      <a ng-click="cardCreator.priorSeries()">&lt;</a>
      <span title="{{cardCreator.seriesIndex+1}} of {{(cardCreator.cards.character|keys).length}}">&nbsp;{{cardCreator.selectedSeries.name}}&nbsp;</span>
      <a ng-click="cardCreator.nextSeries()">&gt;</a>&nbsp;
    </h3>
    <p>{{cardCreator.selectedSeries.description}}</p>
    <h4>
      <a ng-click="cardCreator.priorCard()">&lt;</a>
      &nbsp;{{cardCreator.selectedIndex+1}} of {{(cardCreator.selectedSeries.data|keys).length}}&nbsp;
      <a ng-click="cardCreator.nextCard()">&gt;</a>&nbsp;
    </h4>
  </div>
  <div style="display:inline-block;vertical-align:top;">
    <char-card model="cardCreator.selectedCard"></char-card>
  </div>
  <div style="display:inline-block;vertical-align:top;" class="char-card-editor">
    <char-card-editor model="cardCreator.selectedCard"></char-card-editor>
  </div>
  <!-- easy rending stage -->
  <div ng-show="cardCreator.ezPrint">
    <!-- html2canvas must absolute have the print area on screen, so lets flash it on then off -->
    <print-canvas before-print="cardCreator.ezPrint=true" after-print="cardCreator.ezPrint=false;cardCreator.triggerEzPrint=false" print-trigger="cardCreator.triggerEzPrint" print-model="cardCreator.ezPrintResult" style="vertical-align:top;">
      <div style="display:inline-block;">
        <char-card model="cardCreator.selectedCard"></char-card>
      </div>
    </print-canvas>
  </div>
  <!-- hi-res rending stage -->
  <div ng-show="cardCreator.hiResPrint">
    <!-- html2canvas must absolute have the print area on screen, so lets flash it on then off -->
    <print-canvas before-print="cardCreator.hiResPrint=true" after-print="cardCreator.hiResPrint=false;cardCreator.triggerHiResPrint=false" print-trigger="cardCreator.triggerHiResPrint" print-model="cardCreator.hiResPrintResult" style="vertical-align:top;">
      <div style="display:inline-block;">
        <char-card size="'hires'" model="cardCreator.selectedCard"></char-card>
      </div>
    </print-canvas>
  </div>
</script>
<script type="text/ng-template" id="char-card">
  <div class="char-card char-card-{{charCard.model.colors.length>1?'m':charCard.model.colors[0]}}" ng-class="{'char-card-print-hires':charCard.size=='hires'}">
    <div class="char-card-stage">
      <div class="starting-height"></div>
      <div style="position:relative;height:4.75%">
        <div class="card-title">
          <div class="card-title-top-pad"></div>
          <div class="card-title-text">{{charCard.model.name}}</div>
        </div>
      </div>
      <div class="card-image" ngf-drop="charCard.uploadAvatarTo($file,charCard.model)" ng-model="file" ngf-drag-over-class="'drop-over'" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="8MB" ngf-fix-orientation="true">
        <div ng-show="charCard.model.avatar" style="height:100%;width:100%;background-size:cover;background-position:center center;background-image:url({{charCard.model.avatar.dataUrl}});"></div>
        <div ng-hide="charCard.model.avatar" style="color:#999;margin-top:35%;text-align:center;">DROP IMAGE HERE</div>
      </div>
      <div class="card-body">
        <div style="height:.7%"></div>
        <div style="text-align:left;" class="card-type-wrapper">
          <i ng-repeat="color in charCard.model.colors" class="aotp aotp-hexagon aotp-hexagon-{{color}}" style="position:relative;font-size:110%;text-align:center;"><span style="left:0;position:absolute;width:100%;color:black;font-size:74%;"><i class="mi mi-{{color}}"></i></span></i>
          <div class="card-type-title" style="display:inline-block;white-space:nowrap;">
            {{charCard.model.category}} <span style="width:8%;display:inline-block;padding-top:0%;vertical-align:middle;"><div style="border-top:1px solid white;"></div></span> {{charCard.model.type}}
          </div>
        </div>
        <div class="figure-wrap" ngf-drop="charCard.uploadFigureTo($file,charCard.model)" ng-model="file" ngf-drag-over-class="'drop-over'" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="8MB" ngf-fix-orientation="true">
          <div ng-show="charCard.model.figure" style="height:100%;width:100%;background-size:cover;background-position:center center;background-image:url({{charCard.model.figure.dataUrl}});"></div>
          <div ng-hide="charCard.model.figure" style="color:#999;margin-top:40%;text-align:center;font-size:80%;">DROP IMAGE HERE</div>
        </div>
        <div class="stat-box life-box" ng-class="{'life-box-sm':charCard.model.attack>9}">
          <div class="stat-label" style="line-height:0;">LIFE</div>
          <div class="life-box-value">{{charCard.model.life||'?'}}</div>
        </div>
        <div class="stat-box move-box" style="display:inline-block;left:7.5%;">
          <div class="stat-label move-box-text">MOVE</div>
          <div class="move-box-value">{{charCard.model.move||'?'}}</div>
        </div>
        <div class="stat-box range-box" style="display:inline-block;left:7.5%;">
          <div class="stat-label range-box-text">RANGE</div>
          <div class="range-box-value">{{charCard.model.range||'?'}}</div>
        </div>
        <div class="stat-box attack-box">
          <span style="position:relative;"><span class="attack-box-text" ng-class="{'attack-box-text-sm':charCard.model.attack>9}">{{charCard.model.attack||'?'}}</span></span><i class="aotp aotp-attack"></i>
        </div>
        <div class="stat-box defense-box">
          <span style="position:relative;"><span class="defense-box-text" ng-class="{'defense-box-text-sm':charCard.model.defense>9}">{{charCard.model.defense||'?'}}</span></span><i class="aotp aotp-defense"></i>
        </div>
        <div style="position:relative;height:0;">
          <div style="position:absolute;margin-top:120.5%;width:97.15%;text-align:right;">
            <i class="aotp aotp-hexagon" style="position:relative;color:#333;font-size:100%;text-align:center;"><span style="left:0;margin-top:.3em;position:absolute;width:100%;color:#CCC;font-size:80%;"><i ng-class="charCard.model.symbolClass"></i></span></i>
          </div>
        </div>
        <div class="card-abilities">
          <div class="card-ability" ng-repeat="ability in charCard.model.abilityArray track by ability.title">
            <strong class="card-ability-title">{{ability.title|uppercase}}</strong>
            <div class="card-ability-body" ng-bind-html="ability.body|symbolize|trustAsHtml"></div>
          </div>
        </div>
        <div class="card-attributes">
          <div style="float:right">COST&nbsp;&nbsp;{{charCard.model.cost}}</div>
          <div>{{charCard.model.height.name|uppercase}} {{charCard.model.height.value}}</div>
        </div>
        <div class="card-footer">
          <div style="float:right;margin-right:2.5%;margin-top:1.5%;" ng-bind-html="charCard.model.copyRight|trustAsHtml"></div>
          <div style="margin-left:2.5%;"><i ng-class="charCard.model.artist.iconClass" style="font-size:220%;vertical-align:-17%"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{charCard.model.artist.title}}</div>
        </div>
      </div>
    </div>
  </div>
</script>
<script id="char-card-editor" type="text/ng-template">
  <div class="form-group">
    <input type="text" ng-model="editor.model.name" placeholder="Title" maxLength="125" class="form-control input-sm" />
  </div>

  <div class="form-group color-picker" id="sortable-container" style="text-align:center;">
    <div as-sortable="{containment:'element > element'}" ng-model="editor.model.colors" style="display:inline-block;">
      <div ng-repeat="item in editor.model.colors" as-sortable-item>
        <div as-sortable-item-handle>
          <i style="font-size:1.5em;" class="mi" ng-class="'mi-'+item"></i>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div style="display:inline-block;" ng-repeat="item in editor.colors track by item.value" ng-hide="editor.model.colors.indexOf(item.value)>=0" ng-click="editor.model.colors.push(item.value)">
      <div class="color-item">
        <i style="font-size:1.5em;" class="mi" ng-class="'mi-'+item.value"></i>
      </div>
    </div>
    <div style="position:relative;"><div class="text-muted" style="width:100%;position:absolute;font-size:70%;" ng-show="editor.model.colors.length>1">drag/drop to sort</div></div>
    <style>
      .color-picker [as-sortable-item],
      .color-picker .color-item,
      .color-picker .as-sortable-placeholder{
        cursor:pointer;width:30px;height:30px;
        line-height:40px;
        text-align:center;
        border:1px solid #CCCCCC;border-radius:50%;
        float:left;margin:0 4px;
      }

      .color-picker [as-sortable-item]{
        border:1px solid black;
        background:#CCCCCC;
      }
    </style>

<!--
    <ul dnd-list="editor.coloring">
      <li ng-repeat="item in editor.colors track by $index"
        ng-hide="editor.dragging==item"
        dnd-draggable="item"
        dnd-dragstart="editor.dragging=item;editor.coloring=(editor.colors|copy);editor.coloring.splice($index,1)"
        dnd-moved="editor.colors=editor.coloring;editor.dragging=null"
        dnd-canceled="editor.dragging=null"
        dnd-effect-allowed="move"
        class="active"
      >
        <i style="font-size:1.5em;" class="mi" ng-class="'mi-'+item.value"></i>
      </li>
    </ul>
    <ul>
      <li ng-repeat="item in editor.colors track by item.value"
        ng-hide="editor.model.colors.indexOf(item.value)>=0"
        ng-click="editor.model.colors.push(item.value)"
      >
        <i style="font-size:1.5em;" class="mi" ng-class="'mi-'+item.value"></i>
      </li>
    </ul>
    <div style="clear:both"></div>
    <style>
      .color-picker [as-sortable-item]{
      }

      .color-picker [dnd-list] li{
        cursor:move;
      }

      .color-picker li.active{
      }
    </style>
-->
    <!--
    <select class="form-control" size="5" ng-model="editor.model.colors" ng-options="color.value as color.label for color in editor.colors" multiple="true"></select>
    -->
  </div>

  <div class="form-group" style="width:59%;display:inline-block;">
    Category
    <input type="text" ng-model="editor.model.category" placeholder="Category - Planeswalker, Squad Creature, Hero Creature" maxLength="125" class="form-control input-sm" />
  </div>

  <div class="form-group" style="width:39%;display:inline-block;">
    Type Name
    <input type="text" ng-model="editor.model.type" placeholder="Type Name" maxLength="125" class="form-control input-sm" />
  </div>

  <div class="form-group" style="width:32%;display:inline-block;">
    Life
    <input type="text" ng-model="editor.model.life" placeholder="Life" maxLength="125" class="form-control input-sm" />
  </div>

  <div class="form-group" style="width:32%;display:inline-block;">
    Move
    <input type="text" ng-model="editor.model.move" placeholder="Move" maxLength="125" class="form-control input-sm" />
  </div>

  <div class="form-group" style="width:32%;display:inline-block;">
    Range
    <input type="text" ng-model="editor.model.range" placeholder="Range" maxLength="125" class="form-control input-sm" />
  </div>

  <div class="form-group" style="width:49%;display:inline-block;">
    <div class="input-group">
      <div class="input-group-addon"><i class="aotp aotp-attack"></i></div>
      <input type="text" ng-model="editor.model.attack" placeholder="Attack" maxLength="125" class="form-control input-sm" />
    </div>
  </div>

  <div class="form-group" style="width:49%;display:inline-block;">
    <div class="input-group">
      <div class="input-group-addon"><i class="aotp aotp-defense"></i></div>
      <input type="text" ng-model="editor.model.defense" placeholder="Defense" maxLength="125" class="form-control input-sm" />
    </div>
  </div>
</script>