white-out-modal(show="iCardModal.card")
  .text-center(style="margin:8% 0;")
    .animate-v(style="margin:8% 0;" ng-show="iCardModal.editorOps=='rendering'")
      aotp-rendered-card(name="iCardModal.card.name" ez-print-export="iCardModal.ezPrintResult" hi-print-export="iCardModal.hiResPrintResult")
      .text-center
        h6 rendering options
        a.btn.btn-default(ng-click="iCardModal.triggerEzPrint=false;iCardModal.triggerEzPrint=true")
          |render ez-print
        |&nbsp;
        a.btn.btn-default(ng-click="iCardModal.triggerHiResPrint=false;iCardModal.triggerHiResPrint=true")
          |render hi-res


    .btn.btn-default(ng-click="iCardModal.priorCard()")
      |&lt;
    |&nbsp;
    .btn.btn-default(ng-click="iCardModal.onEdit()" style="width:100px")
      i.fa.fa-diamond
      |&nbsp;edit
    |&nbsp;
    .btn.btn-info(ng-click="iCardModal.editorOps='rendering'" style="width:100px")
      i.fa.fa-print
      |&nbsp;render
    |&nbsp;
    .btn.btn-default(ng-click="iCardModal.nextCard()")
      |&gt;

  .text-center
    .visible-xs
      char-card(model="iCardModal.card" series="iCardModal.series")
    .hidden-xs
      char-card(size="'hires'" model="iCardModal.card" series="iCardModal.series")

  .text-center(style="margin:8% 0;")
    .btn.btn-default(ng-click="iCardModal.priorCard()")
      |&lt;
    |&nbsp;
    a.btn.btn-danger(ng-click="iCardModal.deleteCard(iCardModal.card);iCardModal.card=null" style="margin:1% 0;width:125px")
      .fa.fa-fire
      |&nbsp;delete card
    |&nbsp;
    .btn.btn-default(ng-click="iCardModal.nextCard()")
      |&gt;


div(style="position:absolute;")
  //- easy rending stage
  div(ng-show="iCardModal.ezPrint")
    //-html2canvas must absolute have the print area on screen, so lets flash it on then off
    print-canvas(before-print="iCardModal.ezPrint=true" after-print="iCardModal.ezPrint=false;iCardModal.triggerEzPrint=false" print-trigger="iCardModal.triggerEzPrint" print-model="iCardModal.ezPrintResult" style="vertical-align:top;")
      div(style="display:inline-block;")
        char-card(model="iCardModal.card" series="iCardModal.series")

  //-hi-res rending stage
  div(ng-show="iCardModal.hiResPrint2")
    //- html2canvas must absolute have the print area on screen, so lets flash it on then off
    print-canvas(before-print="iCardModal.hiResPrint2=true" after-print="iCardModal.hiResPrint2=false;iCardModal.triggerHiResPrint=false" print-trigger="iCardModal.triggerHiResPrint" print-model="iCardModal.hiResPrintResult" style="vertical-align:top;")
      div(style="display:inline-block;")
        char-card(size="'hires'" model="iCardModal.card" series="iCardModal.series")
