mixin circle(options)
  div(style="display:inline-block;")
    .color-circle
      div(style="position:relative;height:100%")
        .text-center.text-sm.text-muted(style="position:absolute;top:45%;width:100%;font-size:0.6em;")
          block
    .text-xs
      div(style="font-size:88%") &nbsp;
      .text-xs.text-muted &nbsp;

div(id="rosterArea")
  div(id="rosterWrap" as-sortable="{containment:'#rosterWrap'}" is-disabled="iRoster.sortDisabled" ng-model="iRoster.series.data" ng-class="{'drag-enabled':!iRoster.sortDisabled}")
    -ngRepeat="card in iRoster.series.data track by card.id"
    .roster-pick(ng-click="iRoster.cardClick({card:card})" as-sortable-item ng-repeat=ngRepeat)
      div(as-sortable-item-handle)
        .member-count-wrap(ng-show="iRoster.sortDisabled")
          div(ng-show="card.members && card.members>1")
            .fa.fa-circle-o(ng-repeat="item in [0,1,2,3,4,5,6,7,8,9].splice(0,card.members)" style="margin:0 .3em;")
        .animate-all.color-circle(ng-class="[{'bg-c':!card.colors.length},'bg-'+(card.colors.length==1?card.colors[0]:'m')]")
          div(style="position:relative;height:100%")
            .text-center(style="position:absolute;top:85%;left:85%;" ng-show="iRoster.sortDisabled&&card.cardType=='squad'")
              i(ng-class="card.symbolClass||'aotp aotp-squad'" style="color:#AAA;")

            .text-center(style="position:absolute;top:83%;width:100%;")
              div(style="font-size:90%;height:14px;margin-top:2%;color:white;")
                span(ng-repeat="color in card.colors")
                  i.mi(ng-class="'mi-'+color" style="margin:0 .2em;text-shadow:1px 1px 0 #000;")
            -bg = "url({{iRoster.series.images[card.id].avatar.dataUrl||iRoster.series.images[card.id].figure.dataUrl}}) center center no-repeat;background-size:cover;"

            .animate-v.image-holder(style="border-radius:50%;background:"+bg)
        .text-xs(ng-show="iRoster.sortDisabled")
          .roster-pick-name {{card.name}}
          .text-xs.text-muted
            div(style="font-size:95%") {{card.category}}
            i.aotp.aotp-attack
            |&nbsp;{{card.attack}}
            |&nbsp;&nbsp;
            i.aotp.aotp-defense
            |&nbsp;{{card.defense}}
            |&nbsp;&nbsp;
            i.fa.fa-heart
            |&nbsp;{{card.life}}
            |&nbsp;&nbsp;
            i.fa.fa-arrows
            |&nbsp;{{card.move}}
            |&nbsp;&nbsp;
            i.fa.fa-rss
            |&nbsp;{{card.range}}

  div(style="clear:both")
    .text-xs.text-muted.text-center(ng-hide="iRoster.sortDisabled")
      |drag/drop items above to sort

    .circle-option(ng-click="iRoster.sortDisabled=!iRoster.sortDisabled" ng-class="{'active':!iRoster.sortDisabled}")
      +circle
        i.fa.fa-sort-amount-desc
        |&nbsp;change order
    .circle-option(ng-click="iRoster.onAdd()")
      +circle + add card

