/*@page { size:8.5in 11in; margin: 2cm }*/

html,body{
  height:100%;width:100%;padding:0;margin:0;
}

print-canvas{
  display:inline-block;
}

mtg-aotp-card-creator a{
  color:blue;cursor:pointer;
}

.text-xs{
  font-size:80%;
}

.input-sm{
  height:32px;
}

.drop-over{
  background-color:#feff9f;
}

.char-card-editor{
  width:223px;height:626px;
}


char-card * {
  box-sizing: border-box;
}
.char-card{
  font-size:12px;
  line-height: 1.42857143;
  display:block;height:100%;
  vertical-align: top;
  width:223px;height:626px;
  display:inline-block;
  background-image:url(../images/html2canvasBack.png);
  background-size:100% 100%;
}

.char-card .char-card-stage{
  height:100%;
  margin-left:4.7%;margin-right:4.791%;
}

.char-card.char-card-print-hires{
  font-size:26px;
  line-height: 1.4;
  width:496px;height:1389px;
}

.char-card .starting-height{
  height:1.9%;
}

.card-title-top-pad{
  height:31%
}

.char-card .card-title{
  height:129%;width:100%;
  position:absolute;
  color:white;
  text-align:center;
}

.char-card .card-title-text{
  opacity:.8;line-height:1.25em;
  font-family:Beleren Bold;
}

.char-card .card-image{
  /*background-color:black;*/
  color:white;height:26%;overflow:hidden;
}

.char-card.debug .card-image{
  border:1px solid red;
}

.char-card .card-body{
  height:63.6%;
  background-size:100% 100%;
  background-image:url(../images/colorless.png);
}

.char-card .card-type-title{
  opacity: .8;
  font-size:75%;
  font-family:Beleren Bold;vertical-align:middle;
  padding-left:.5%;
  color:white;
  margin-bottom:3.5%;
  /*border-bottom:1px solid red;*/
}

.char-card .card-type-wrapper [class*='aotp-hexagon']:before {
  vertical-align: top;
}
.char-card .card-type-wrapper [class*='mi']:before {
  vertical-align:-20%;
}

.char-card .figure-wrap{
  float:left;margin-top:1.7%;margin-left:3.7%;width:41%;height:24.15%;overflow:hidden;
}


.char-card .stat-box{
  white-space:nowrap;vertical-align:top;
  color:black;
  width:22.5%;
  text-align:center;
  font-size:220%;
  font-family:Beleren Bold;
}

.char-card .stat-box .stat-label{
  font-family:Beleren small caps;
  font-size:44%;line-height:0.28em;
  height:0;overflow:visible;
}

.char-card .stat-box.life-box{
  float:left;margin-left:6%;margin-top:12.5%;
}
.char-card .stat-box.life-box.life-box-sm .life-box-value{
  font-size:85%;
}

.char-card .stat-box.move-box{
  margin-top:4%;
  font-size:140%;padding-left:3%;
}
.char-card .stat-box .move-box-text{
  position:relative;right:2%;
}
.char-card .stat-box .move-box-value{
  line-height:135%;font-size:116%;
}

.char-card .stat-box.range-box{
  margin-top:5.2%;
  font-size:140%;padding-left:2%;
  height:7%;overflow:visible;
}
.char-card .stat-box .range-box-value{
  line-height:130%;font-size:116%;
}

.char-card .stat-box.attack-box{
  line-height:110%;
  text-align:left;
  width:10%;
  margin-left:7.75%;display:inline-block;
}
.char-card .stat-box.defense-box{
  line-height:110%;
  text-align:left;
  padding-left:14%;
  display:inline-block;
}

.char-card .stat-box .attack-box-text{
  font-size:83%;padding-left:12%;
  width:1%;overflow:visible;
  position:absolute;padding-top:10%;
}
.char-card .stat-box .defense-box-text{
  font-size:83%;
  position:absolute;padding-top:16%;
  padding-left:20%;
}

.char-card .stat-box .attack-box-text.attack-box-text-sm{
  padding-left:3.75%;
  font-size:65%;
  line-height:180%;
}
.char-card .stat-box .defense-box-text.defense-box-text-sm{
  font-size:65%;
  line-height:180%;
  padding-left:0;
}

.char-card .stat-box .aotp-attack{
  vertical-align:top;
  font-size:58%;
  position:relative;left:98%;
}
.char-card .stat-box .aotp-defense{
  vertical-align:top;
  font-size:58%;
  position:relative;left:110%;
}


.card-abilities{
  /*border:1px solid red;*/
  height:62%;
  margin:5.25% 8% 0.75% 5%;
  line-height:117%;
  word-spacing:-.025em;
  clear:both;
  font-size:98%;
  overflow:hidden;
}

.card-ability{
  margin-bottom:8.5%;
}

.card-ability-title{
  font-family:Times New Roman;
  font-weight:bold;
}

.card-ability-body{
  font-family:Times New Roman;
}

.symbolized {
  font-size:0.72em;vertical-align:8%;padding-left:.105em;
}

.card-attributes{
  font-size:86%;
  font-family:Times New Roman;
  height:4.5%;line-height:1.75em;
  margin:0 2.5% 0% 2%;
  color:white;opacity:.8;
}

.card-footer{
  color:white;
  opacity: .7;
  font-size:40%;
  font-family:Times New Roman;
}

.char-card .seriesIcon{
  left:0;margin-top:.3em;position:absolute;
  width:100%;color:#CCC;font-size:75%;
}

.char-card .cardTypeSep{
  line-height:0;
  transform:scale(1.5,.15);
}


/* third size */
.char-card-third char-card{
  height:890px
}

.char-card.char-card-third{
  font-size:19px;
}




/* half size */
.char-card-half char-card{
  height:667px
}

.char-card.char-card-half{
  font-size:12px;
}


.char-card-half .stat-box{
  border-width:1px;
}

.char-card .card-title{
  background-size:100% 100%;
  background-image:url(../images/colorless-top.png);
}


/* colors */
.char-card-b .card-title{
  background-image:url(../images/black-top.png);
}
.char-card-b .card-body{
  background-image:url(../images/black.png);
}
.aotp-hexagon-b{
  color:#999999;
}
.bg-b{
  background-color:#999999;
}

.char-card-u .card-title{
  background-image:url(../images/blue-top.png);
}
.char-card-u .card-body{
  background-image:url(../images/blue.png);
}
.aotp-hexagon-u{
  color:#aed2e3;
}
.bg-u{
  background-color:#aed2e3;
}

.char-card-w .card-title{
  background-image:url(../images/white-top.png);
}
.char-card-w .card-body{
  background-image:url(../images/white.png);
}
.aotp-hexagon-w{
  color:#fbf9e0;
}
.bg-w{
  background-color:#fbf9e0;
}

.char-card-r .card-title{
  background-image:url(../images/red-top.png);
}
.char-card-r .card-body{
  background-image:url(../images/red.png);
}
.aotp-hexagon-r{
  color:#f4ad8f;
}
.bg-r{
  background-color:#f4ad8f;
}

.char-card-g .card-title{
  background-image:url(../images/green-top.png);
}
.char-card-g .card-body{
  background-image:url(../images/green.png);
}
.aotp-hexagon-g{
  color:#94c4aa;
}
.bg-g{
  background-color:#94c4aa;
}

.char-card-m .card-title{
  background-image:url(../images/multi-top.png);
}
.char-card-m .card-body{
  background-image:url(../images/multi.png);
}
/*
.aotp-hexagon-m{
  color:#94c4aa;
}
.bg-m{
  background-color:#94c4aa;
}
*/










.hexagon {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100% solid transparent;
  border-right: 1005 solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}