/*@page { size:8.5in 11in; margin: 2cm }*/

html,body[ng-app=mtgAotpCardCreator]{
  height:100%;width:100%;padding:0;margin:0;
  font-size:1.15em;
}

body[ng-app=mtgAotpCardCreator]{
  margin-top:0.9em;
}

print-canvas{
  display:inline-block;
}

mtg-aotp-card-creator a{
  color:blue;cursor:pointer;
}

.text-xs{
  font-size:80%;
}

.input-sm{
  height:32px;
}

.drop-over{
  background-color:#feff9f;
}


aotp-char-card * {
  box-sizing: border-box;
}

/* 72 dpi */
.aotp-char-card{
  font-size:12px;
  line-height: 1.42857143;
  display:block;height:100%;
  vertical-align: top;
  width:225px;height:627px;
  display:inline-block;
  background-image:url(../images/canvasBackCharacter.png);
  background-size:100% 100%;
}

.aotp-char-card .card-image-bg{
  height:100%;width:100%;background-size:cover;background-position:center center;
}

.aotp-char-card .aotp-char-card-stage{
  height:100%;
  margin-left:4.7%;margin-right:4.791%;
}

/* 200 dpi */
.aotp-char-card.aotp-char-card-print-hires{
  font-size:26px;
  line-height: 1.4;
  width:500px;height:1394px;
}

.aotp-char-card .starting-height{
  height:1.9%;
}

.card-title-top-pad{
  height:31%
}

.aotp-char-card .series-icon-pos{
  position:absolute;margin-top:120%;width:97.15%;text-align:right;
}

.aotp-char-card .card-title{
  height:129%;width:100%;
  position:absolute;
  color:white;
  text-align:center;
}

.aotp-char-card .card-title-text{
  opacity:.8;line-height:1.25em;
  font-family:Beleren Bold;
}

.aotp-char-card .card-image{
  /*background-color:black;*/
  color:white;height:26%;overflow:hidden;
}

.aotp-char-card.debug .card-image{
  border:1px solid red;
}

.aotp-char-card .card-body{
  height:63.6%;
  background-size:100% 100%;
  background-image:url(../images/colorless.png);
}

.aotp-char-card .card-type-title{
  opacity: .8;
  font-size:75%;
  font-family:Beleren Bold;vertical-align:middle;
  padding-left:.5%;
  color:white;
  margin-bottom:2%;
  /*border-bottom:1px solid red;*/
}


.aotp-char-card .card-type-wrapper{
  text-align:left;padding-left:0.12em;
  margin:0 0 0.2em 0;
}


.aotp-char-card .card-type-wrapper .card-type-color-wrap{
  margin-top:0.1em;
  position:relative;font-size:70%;text-align:center;line-height:0;
}

.aotp-char-card .card-type-wrapper .card-type-color{
  position:absolute;width:100%;color:black;left:1.5%;top:0.03em;z-index:10;
}

.aotp-char-card .card-type-wrapper [class*='aotp-hexagon']:before {
  vertical-align: top;
}
.aotp-char-card .card-type-wrapper [class*='mi']:before {
  vertical-align:-20%;
}

.aotp-char-card .figure-wrap{
  float:left;
  margin-top:2.1%;
  margin-left:3.75%;width:40.5%;
  height:24.275%;overflow:hidden;
}

.aotp-char-card .figure-image{
  height:100%;width:100%;background-size:cover;background-position:center center;
}

aotp-char-card .figure-wrap .symbolClass{
  color:white;left:4%;top:87%;position:absolute;font-size:83%;
}

.aotp-char-card .stat-box{
  white-space:nowrap;vertical-align:top;
  color:black;
  width:22.5%;
  text-align:center;
  font-size:220%;
  font-family:Beleren Bold;
}

.aotp-char-card .stat-box .stat-label{
  font-family:Beleren small caps;
  font-size:44%;line-height:0.28em;
  height:0;overflow:visible;
}

.aotp-char-card .stat-box.life-box{
  float:left;margin-left:6%;margin-top:12.5%;
}
.aotp-char-card .stat-box.life-box.life-box-sm .life-box-value{
  font-size:85%;
}

.aotp-char-card .stat-box.move-box{
  margin-top:4%;
  font-size:140%;padding-left:3%;
}
.aotp-char-card .stat-box .move-box-text{
  position:relative;right:2%;
}
.aotp-char-card .stat-box .move-box-value{
  line-height:135%;font-size:116%;
}

.aotp-char-card .stat-box.range-box{
  margin-top:5.2%;
  font-size:140%;padding-left:2%;
  height:7%;overflow:visible;
}
.aotp-char-card .stat-box .range-box-value{
  line-height:130%;font-size:116%;
}

.aotp-char-card .stat-box.attack-box{
  line-height:110%;
  text-align:left;
  width:10%;
  margin-left:7.75%;display:inline-block;
}
.aotp-char-card .stat-box.defense-box{
  line-height:110%;
  text-align:left;
  padding-left:14%;
  display:inline-block;
}

.aotp-char-card .stat-box .attack-box-text{
  font-size:83%;padding-left:12%;
  width:1%;overflow:visible;
  position:absolute;padding-top:10%;
}
.aotp-char-card .stat-box .defense-box-text{
  font-size:83%;
  position:absolute;padding-top:16%;
  padding-left:20%;
}

.aotp-char-card .stat-box .attack-box-text.attack-box-text-sm{
  padding-left:3.75%;
  font-size:65%;
  line-height:180%;
}
.aotp-char-card .stat-box .defense-box-text.defense-box-text-sm{
  font-size:65%;
  line-height:180%;
  padding-left:0;
}

.aotp-char-card .stat-box .aotp-attack{
  vertical-align:top;
  font-size:58%;
  position:relative;left:98%;
}
.aotp-char-card .stat-box .aotp-defense{
  vertical-align:top;
  font-size:58%;
  position:relative;left:110%;
}


aotp-char-card .card-abilities{
  /*border:1px solid red;*/
  height:64.55%;overflow:auto;
  line-height:109%;
  word-spacing:-.025em;
  clear:both;
  font-size:91%;
  margin:0% 7.2% 0 5%;
  padding-top:6.25%;
}

aotp-char-card .card-abilities p{
  margin-left:5%;margin-bottom:5%;
}

.aotp-char-card.aotp-char-card-print-hires .card-abilities{
  margin-right:11.5%;
  font-size: 89%;
  word-spacing: -.01em;
}

aotp-char-card .card-abilities.card-abilities-sm{
  margin-right:7.2%;padding-top:5.25%;
}

aotp-char-card .aotp-original .card-abilities{
  font-size:98%;
  padding-top:5.25%;
  margin-right:8.5%;
}

aotp-char-card .card-abilities .card-ability{
  margin-bottom:8.5%;
}

aotp-char-card .card-abilities.card-abilities-sm .card-ability{
  margin-bottom:4%;
  line-height:1.071em;
  word-spacing:.025em;
  font-size:89%;
}


aotp-char-card .card-ability-title{
  font-family:Times New Roman;
  font-weight:bold;
}

aotp-char-card .card-ability-body{
  font-family:Times New Roman;
}

.symbolized {
  font-size:0.72em;vertical-align:8%;padding-left:.105em;
}

.card-attributes{
  font-size:86%;
  font-family:Times New Roman;
  height:4.5%;line-height:1.75em;
  margin:0 2.5% 0% 2%;
  color:white;opacity:.8;
}

.card-footer{
  color:white;opacity: .7;
  font-size:50%;clear:both;
  font-family:Times New Roman;
}

.card-footer .artist-title{
  padding-left:0.5em;
}

.card-footer .copy-right{
  float:right;margin-right:2.5%;margin-top:1.5%;
  font-size:0.8em;word-spacing:0.2em;
}

.aotp-char-card .seriesIcon{
  left:0;margin-top:.25em;position:absolute;
  width:100%;color:#CCC;font-size:75%;
  line-height:1.3em;
}

.aotp-char-card .seriesIcon .mi-planeswalk{
  padding-top:11%;font-weight:bold;
  text-shadow:0 0 1px #FFFFFF;
}

.aotp-char-card .cardTypeSep{
  line-height:0;
  transform:scale(1.5,.15);
}


/* third size */
.aotp-char-card-third aotp-char-card{
  height:890px
}

.aotp-char-card.aotp-char-card-third{
  font-size:19px;
}




/* half size */
.aotp-char-card-half aotp-char-card{
  height:667px
}

.aotp-char-card.aotp-char-card-half{
  font-size:12px;
}


.aotp-char-card-half .stat-box{
  border-width:1px;
}

.aotp-char-card .card-title{
  background-size:100% 100%;
  background-image:url(../images/colorless-top.png);
}


/* colors */
.aotp-char-card-b .card-title{
  background-image:url(../images/black-top.png);
}
.aotp-char-card-b .card-body{
  background-image:url(../images/black.png);
}
.aotp-hexagon-b{
  color:#999999;
}
.bg-b{
  background-color:#999999;
}

.aotp-char-card-u .card-title{
  background-image:url(../images/blue-top.png);
}
.aotp-char-card-u .card-body{
  background-image:url(../images/blue.png);
}
.aotp-hexagon-u{
  color:#aed2e3;
}
.bg-u{
  background-color:#aed2e3;
}

.aotp-char-card-w .card-title{
  background-image:url(../images/white-top.png);
}
.aotp-char-card-w .card-body{
  background-image:url(../images/white.png);
}
.aotp-hexagon-w{
  color:#fbf9e0;
}
.bg-w{
  background-color:#fbf9e0;
}

.aotp-char-card-r .card-title{
  background-image:url(../images/red-top.png);
}
.aotp-char-card-r .card-body{
  background-image:url(../images/red.png);
}
.aotp-hexagon-r{
  color:#f4ad8f;
}
.bg-r{
  background-color:#f4ad8f;
}

.aotp-char-card-g .card-title{
  background-image:url(../images/green-top.png);
}
.aotp-char-card-g .card-body{
  background-image:url(../images/green.png);
}
.aotp-hexagon-g{
  color:#94c4aa;
}
.bg-g{
  background-color:#94c4aa;
}

.aotp-char-card-m .card-title{
  background-image:url(../images/multi-top.png);
}
.aotp-char-card-m .card-body{
  background-image:url(../images/multi.png);
}
/*
.aotp-hexagon-m{
  color:#94c4aa;
}
*/
.bg-m{
  background-color:#ddb024;
}










.hexagon {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100% solid transparent;
  border-right: 1005 solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}



mtg-aotp-card-creator #rosterArea .roster-pick{
  width:187px;margin-bottom:2em;
}

mtg-aotp-card-creator #rosterArea .circle-option{
  margin:1%;
}

mtg-aotp-card-creator #rosterArea .roster-pick .roster-pick-name{

  font-size:88%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
}

mtg-aotp-card-creator #rosterArea .roster-pick,
mtg-aotp-card-creator #rosterArea .circle-option,
mtg-aotp-card-creator #rosterArea .as-sortable-placeholder{
  display:inline-block !important;
  text-overflow:ellipsis;
  vertical-align:top;
  white-space:nowrap;overflow:hidden;
}

mtg-aotp-card-creator #rosterArea .roster-pick .roster-pick-wrap{
  padding:1.5%;
}

mtg-aotp-card-creator #rosterArea .circle-option .color-circle{
  background-color:#CCC;
}

mtg-aotp-card-creator #rosterArea .color-circle{
  border-radius:50%;
}

mtg-aotp-card-creator #rosterArea .circle-option.active .color-circle{
  background-color:#66d9e3;
}

mtg-aotp-card-creator #rosterArea [as-sortable-item-handle],
mtg-aotp-card-creator #rosterArea .roster-pick,
mtg-aotp-card-creator #rosterArea .circle-option{
  cursor:pointer;
}

mtg-aotp-card-creator #rosterArea .drag-enabled .roster-pick,
mtg-aotp-card-creator #rosterArea .drag-enabled [as-sortable-item-handle]{
  cursor:move;
}

mtg-aotp-card-creator #rosterArea .image-holder,
mtg-aotp-card-creator #rosterArea .roster-pick .color-circle{
  height:185px;width:165px;display:inline-block;
}

mtg-aotp-card-creator #rosterArea .drag-enabled .image-holder{
  height:100px;
}

mtg-aotp-card-creator #rosterArea .circle-option .color-circle,
mtg-aotp-card-creator #rosterArea .drag-enabled .roster-pick .color-circle{
  width:100px;height:100px;
}

mtg-aotp-card-creator .member-count-wrap{
  line-height:0.1em;font-size:6px;height:7px;
}




aotp-char-card-editor{
  font-size:14px;
}

.aotp-char-card-editor{
  width:223px;padding:1em .5em;
  height:626px;overflow:auto;
  background-color:black;border-radius:1.1em;color:white;
}

aotp-char-card-editor .color-picker .as-sortable-dragging{
  top:-90px;
}

aotp-char-card-editor .color-picker [as-sortable-item],
aotp-char-card-editor .color-picker .color-item,
aotp-char-card-editor .color-picker .as-sortable-placeholder{
  cursor:pointer;width:30px;height:30px;
  line-height:40px;
  text-align:center;
  border:1px solid #444444;
  border-radius:50%;
  float:left;margin:0 4px;
}

aotp-char-card-editor .color-picker [as-sortable-item]{
  border:1px solid black;
}

aotp-char-card-editor .input-xs, .form-horizontal .form-group-xs .form-control {
    border-radius: 3px;
    font-size: 11px;
    height: 25px;
    line-height: 1.2;
    padding: 3px 6px;
}